div.body {
    background-color: #f8fff8;
    color: #3E4349;
    padding: 0 30px 30px 30px;
    font-size: 0.9em;
}

.admonition.attention, .admonition.important {
    border: 1px solid #f0ad4e;
    background-color: #fcf8e3;
    padding: 10px;
    border-radius: 5px;
}

/* make the copy buttons a bit transparent */
button.copybtn {
   opacity: 0.2;
}

/* Highlight all autodoc references */
.xref {
    color: #0000C0; /* Change the color */
   /* font-style: italic; /* Apply italic formatting */
    text-decoration: underline; /* Add underline */
}